<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href='<%=links.css+"see.css"%>'>
		<title>Commande</title>
	</head>
	<body>
		<header>
			<a href="/caisse"><button>Retour</button> </a>
			<figure>
				<img src='<%=links.images+"contact.png"%>' alt="..." />
			</figure>
		</header>
		<section>

			<% let price = 0; %>
			<% for(id in panier.items){%>
			<div class="item">
				<figure>
					<img src='<%=links.images+"items/"+panier.items[id].image%>' alt="..." />
				</figure>

				<h4 class="nom"><%= panier.items[id].name %></h4>
				<h4 class="quantite">Quantité:<%= panier.quantities[id] %></h4>
				<h4 class="price"> <%= panier.items[id].price * panier.quantities[id] %>$</h4>

				<% price += panier.items[id].price * panier.quantities[id]; %>

			</div>
			<%}%>

			<h3 id="bottom">Côut total: <%= price %>$</h3>

		</section>
	</body>
</html>